.card {
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-size: cover;
  background-position: center;
  position: relative;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.85) 90%);
  border-radius: var(--mantine-radius-md);
}

.title {
  font-size: rem(28px);
  font-weight: 900;
  color: var(--mantine-color-white);
  margin-top: var(--mantine-spacing-xs);
  position: relative;
  z-index: 2;
}

.category {
  color: var(--mantine-color-white);
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

.description {
  color: var(--mantine-color-white);
  margin-top: var(--mantine-spacing-sm);
  position: relative;
  z-index: 2;
}